[Desktop Entry]
Version=1.0
Type=Application
Name=Picom - a X compositor
GenericName=X compositor
Comment=A X compositor
Categories=Utility;
Keywords=compositor;composite manager;window effects;transparency;opacity;
#TryExec=picom
Exec=mabox-compositor --start
Hidden=true
