# Paste mode: hex,rgb or rgba
format=hex
#Action when color is clicked: paste (imadietely) or copy (to clipboard)
action=copy
#What thing to expose on top of main menu: recently picked colors, last used colors or last used palette
expose=wallpaper
#Show HTML colors? yes|no
htmlcolors=yes
#Color picker (gpick or xcolor)
picker=gpick
#Show built in palettes? (slow)
builtin_palettes=yes
# Random wallpaper dir
walldir=/usr/share/backgrounds
#Position on screen: topleft, top, topright, left, center, right, bottomleft, bottom, bottomright
position=left
