[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch TerminalEmulator
Icon=utilities-terminal
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-AppStream-Ignore=True
Name=Terminal Emulator (win+t)
Name[am]=ተርሚናል  (win+t)
Name[ar]=محاكي الطرفية (win+t)
Name[ast]=Emulador de terminal (win+t)
Name[be]=Эмулятар тэрмінала (win+t)
Name[bg]=Терминален Емулатор (win+t)
Name[bn]=টার্মিনাল ইম্যুলেটর (win+t)
Name[ca]=Emulador de terminal (win+t)
Name[cs]=Emulátor terminálu (win+t)
Name[da]=Terminalemulator (win+t)
Name[de]=Terminal (win+t)
Name[el]=Εξομοιωτής τερματικού (win+t)
Name[en_AU]=Terminal Emulator (win+t)
Name[en_GB]=Terminal Emulator (win+t)
Name[es]=Emulador de terminal (win+t)
Name[et]=Terminal (win+t)
Name[eu]=Terminal emuladorea (win+t)
Name[fi]=Pääteohjelma (win+t)
Name[fr]=Émulateur de terminal (win+t)
Name[gl]=Emulador de terminal (win+t)
Name[he]=מדמה מסוף (win+t)
Name[hr]=Emulator terminala (win+t)
Name[hu]=Terminál emulátor (win+t)
Name[hy]=Վահանակ
Name[hy_AM]=Վահանակ
Name[id]=Emulator Terminal (win+t)
Name[ie]=Emulator de Terminal (win+t)
Name[is]=Skjáhermir (win+t)
Name[it]=Emulatore di terminale (win+t)
Name[ja]=ターミナルエミュレーター
Name[kk]=Терминал эмуляторы (win+t)
Name[kn]=ಟರ್ಮಿನಲ್ ಎಮ್ಯುಲೇಟರ್
Name[ko]=터미널 에뮬레이터
Name[lt]=Terminalo emuliatorius (win+t)
Name[lv]=Termināla emulators (win+t)
Name[ms]=Emulator Terminal (win+t)
Name[nb]=Terminalemulator (win+t)
Name[nl]=Terminalvenster (win+t)
Name[nn]=Terminalprogram (win+t)
Name[oc]=Emulator de Terminal (win+t)
Name[pa]=ਟਰਮੀਨਲ ਈਮੂਲੇਟਰ
Name[pl]=Emulator terminala (win+t)
Name[pt]=Emulador de terminal (win+t)
Name[pt_BR]=Emulador de terminal (win+t)
Name[ro]=Emulator de terminal (win+t)
Name[ru]=Эмулятор терминала (win+t)
Name[sk]=Emulátor terminálu (win+t)
Name[sl]=Terminalski emulator (win+t)
Name[sq]=Emulues Terminali (win+t)
Name[sr]=Опонашач терминала (win+t)
Name[sv]=Terminalemulator (win+t)
Name[te]=టెర్మినల్ ఎమ్యులేటర్
Name[th]=โปรแกรมจำลองเทอร์มินัล (win+t)
Name[tr]=Uçbirim Öykünücüsü (win+t)
Name[ug]=تېرمىنال Emulator
Name[uk]=Емулятор терміналу (win+t)
Name[ur]=ٹرمنل ایمولیٹر
Name[ur_PK]=ٹرمنل ایمولیٹر
Name[vi]=Trình giả lập dòng lệnh (win+t)
Name[zh_CN]=终端模拟器
Name[zh_HK]=終端模擬器
Name[zh_TW]=終端模擬器
Comment=Use the command line
Comment[am]=የ ትእዛዝ መስመር ይጠቀሙ:
Comment[ar]=إستعمل سطر الأوامر
Comment[ast]=Usa la llinia comandos
Comment[be]=Выкарыстоўваць загадны радок
Comment[bg]=Използвай командния ред
Comment[bn]=কমান্ড লাইন ব্যবহার করুন
Comment[ca]=Utilitzeu la línia d'ordres
Comment[cs]=Použít příkazový řádek
Comment[da]=Brug kommandolinjen
Comment[de]=Befehlszeile verwenden
Comment[el]=Χρησιμοποιείστε την γραμμή εντολών
Comment[en_AU]=Use the command line
Comment[en_GB]=Use the command line
Comment[es]=Usar la línea de órdenes
Comment[et]=Kasuta käsurida
Comment[eu]=Erabili komando lerroa
Comment[fi]=Käytä komentoriviä
Comment[fr]=Utiliser la ligne de commande
Comment[gl]=Usar a liña de ordes
Comment[he]=השתמש בשורת הפקודה
Comment[hr]=Koristi naredbeni redak
Comment[hu]=Parancssor használata
Comment[hy]=Գործածել հրամանատողը
Comment[hy_AM]=Գործածել հրամանատողը
Comment[id]=Gunakan baris perintah
Comment[ie]=Usar li linea de comandes
Comment[is]=Nota skipanalínuna
Comment[it]=Usa la linea di comando
Comment[ja]=コマンドラインを使用します
Comment[kk]=Командалық жолды қолдану
Comment[kn]=ಆದೇಶ ಸಾಲು ಬಳಸಿ
Comment[ko]=명령줄 사용
Comment[lt]=Naudoti komandų eilutę
Comment[lv]=Izmantot komandrindu
Comment[ms]=Guna perintah suai
Comment[nb]=Bruk kommandlinjen
Comment[nl]=Gebruik de opdrachtregel
Comment[nn]=Bruk kommandlinja
Comment[oc]=Utilizar la linha de comanda
Comment[pa]=ਕਮਾਂਡ ਲਾਈਨ ਵਰਤੋਂ
Comment[pl]=Wprowadza i wykonuje wiersze poleceń
Comment[pt]=Utilizar a linha de comandos
Comment[pt_BR]=Usar a linha de comando
Comment[ro]=Utilizați linia de comandă
Comment[ru]=Использовать командную строку
Comment[sk]=Použiť príkazový riadok
Comment[sl]=Izberi ukazno vrstico
Comment[sq]=Përdorni rreshtin e urdhrave
Comment[sr]=Користите линију наредби
Comment[sv]=Använd kommandoraden
Comment[te]=ఆదేశపంక్తిని ఉపయోగించండి
Comment[th]=ใช้บรรทัดคำสั่ง
Comment[tr]=Komut satırını kullan
Comment[ug]=بۇيرۇق قۇرىنى ئىشلىتىدۇ
Comment[uk]=Використовуєте командну стрічку
Comment[vi]=Sử dụng dòng lệnh
Comment[zh_CN]=使用命令行
Comment[zh_HK]=使用指令列
Comment[zh_TW]=使用指令列
