[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch FileManager %u
Icon=system-file-manager
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=inode/directory;x-scheme-handler/trash;
X-AppStream-Ignore=True
Name=File Manager (win+f)
Name[am]=የ ፋይል አስተዳዳሪ
Name[ar]=مدير الملفات
Name[ast]=Xestor de Ficheros (win+f)
Name[be]=Кіраўнік файлаў (win+f)
Name[bg]=Файлов мениджър (win+f)
Name[bn]=ফাইল ম্যানেজার
Name[ca]=Gestor de fitxers (win+f)
Name[cs]=Správce souborů (win+f)
Name[da]=Filhåndtering (win+f)
Name[de]=Dateiverwaltung (win+f)
Name[el]=Διαχειριστής αρχείων (win+f)
Name[en_AU]=File Manager (win+f)
Name[en_GB]=File Manager (win+f)
Name[es]=Gestor de archivos (win+f)
Name[et]=Failihaldur (win+f)
Name[eu]=Fitxategi kudeatzailea (win+f)
Name[fi]=Tiedostonhallinta (win+f)
Name[fr]=Gestionnaire de fichiers (win+f)
Name[gl]=Xestor de ficheiros (win+f)
Name[he]=מנהל קבצים
Name[hr]=Upravitelj datoteka (win+f)
Name[hu]=Fájlkezelő (win+f)
Name[hy]=Նիշք
Name[hy_AM]=Նիշք
Name[id]=Manajer Berkas (win+f)
Name[ie]=Gerentiator de files (win+f)
Name[is]=Skráastjóri (win+f)
Name[it]=Gestore dei file (win+f)
Name[ja]=ファイルマネージャー
Name[kk]=Файлдар басқарушысы (win+f)
Name[kn]=ಕಡತ ನಿರ್ವಾಹಕ
Name[ko]=파일 관리자
Name[lt]=Failų tvarkytuvė (win+f)
Name[lv]=Faila pārvaldnieks (win+f)
Name[ms]=Pengurus Fail (win+f)
Name[nb]=Filbehandler (win+f)
Name[nl]=Bestandbeheerder (win+f)
Name[nn]=Filutforskar (win+f)
Name[oc]=Gestionari de fichièrs (win+f)
Name[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików (win+f)
Name[pt]=Gestor de ficheiros (win+f)
Name[pt_BR]=Gerenciador de arquivos (win+f)
Name[ro]=Manager de fișiere (win+f)
Name[ru]=Файловый менеджер
Name[sk]=Správca súborov (win+f)
Name[sl]=Upravljalnik datotek (win+f)
Name[sq]=Përgjegjës Kartelash (win+f)
Name[sr]=Управник датотека (win+f)
Name[sv]=Filhanterare (win+f)
Name[te]=దస్త్ర నిర్వాహకం
Name[th]=โปรแกรมจัดการแฟ้ม
Name[tr]=Dosya Yöneticisi (win+f)
Name[ug]=ھۆججەت باشقۇرغۇ
Name[uk]=Файловий менеджер (win+f)
Name[ur]=فائل منیجر
Name[ur_PK]=فائل منیجر
Name[vi]=Trình quản lý tệp tin (win+f)
Name[zh_CN]=文件管理器
Name[zh_HK]=檔案管理員
Name[zh_TW]=檔案管理員
Comment=Browse the file system (win+f)
Comment[am]=በ ፋይል ስርአት ውስጥ መቃኛ
Comment[ar]=تصفح ملف النظام
Comment[ast]=Restola pel sistema de ficheros (win+f)
Comment[be]=Прагляд файлавай сістэмы (win+f)
Comment[bg]=Преглед на файловата система (win+f)
Comment[bn]=ফাইল সিস্টেম ব্রাউজ করুন
Comment[ca]=Navegueu pel sistema de fitxers (win+f)
Comment[cs]=Procházet systém souborů (win+f)
Comment[da]=Gennemse filsystemet (win+f)
Comment[de]=Das Dateisystem durchsuchen, um einen eigenen Befehl zu wählen (win+f)
Comment[el]=Περιηγηθείτε στο αρχείο συστήματος (win+f)
Comment[en_AU]=Browse the file system (win+f)
Comment[en_GB]=Browse the file system (win+f)
Comment[es]=Navegar por el sistema de archivos (win+f)
Comment[et]=Sirvi failisüsteemi (win+f)
Comment[eu]=Arakatu fitxategi sistema (win+f)
Comment[fi]=Selaa tiedostojärjestelmää (win+f)
Comment[fr]=Parcourir le système de fichiers (win+f)
Comment[gl]=Examinar o sistema de ficheiros (win+f)
Comment[he]=סייר במערכת הקבצים
Comment[hr]=Pregledaj datotečni sustav (win+f)
Comment[hu]=Fájlrendszer tallózása (win+f)
Comment[hy]=Որոնել նիշային համակարգում
Comment[hy_AM]=Որոնել նիշային համակարգում
Comment[id]=Ramban sistem berkas (win+f)
Comment[ie]=Navigar li sistema de files (win+f)
Comment[is]=Flakka í skráakerfinu (win+f)
Comment[it]=Esplora il file system (win+f)
Comment[ja]=ファイルシステムを参照します
Comment[kk]=Файлдық жүйені шолу (win+f)
Comment[kn]=ಕಡತ ವ್ಯವಸ್ಥೆಯನ್ನು ಬ್ರೌಸ್ ಮಾಡಿ
Comment[ko]=파일 시스템 탐색
Comment[lt]=Naršyti failų sistemą (win+f)
Comment[lv]=Pārlūkot failu sistēmu (win+f)
Comment[ms]=Layar sistem fail (win+f)
Comment[nb]=Bla gjennom filsystemet (win+f)
Comment[nl]=Blader door het bestandssysteem (win+f)
Comment[nn]=Bla gjennom filsystemet (win+f)
Comment[oc]=Percórrer lo sistèma de fichièrs (win+f)
Comment[pa]=ਫਾਇਲ ਸਿਸਟਮ ਬਰਾਊਜ਼ਰ ਕਰੋ
Comment[pl]=Przegląda system plików i zarządza jego zawartością
Comment[pt]=Explorar sistema de ficheiros
Comment[pt_BR]=Navegar pelo sistema de arquivos
Comment[ro]=Gestionați fișierele din sistem
Comment[ru]=Просмотреть файловую систему
Comment[sk]=Prehliadať systém súborov
Comment[sl]=Brskajte po datotečnem sistemu
Comment[sq]=Shfletoni sistem kartelash
Comment[sr]=Разгледајте систем датотека
Comment[sv]=Bläddra i filsystemet
Comment[te]=దస్త్ర వ్యవస్థను విహరించు
Comment[th]=ท่องดูระบบแฟ้ม
Comment[tr]=Dosya sistemini tara.
Comment[ug]=ھۆججەت سىستېمىسىنى كۆرىدۇ
Comment[uk]=Оглянути файлову систему
Comment[vi]=Duyệt hệ thống tệp tin
Comment[zh_CN]=浏览文件系统
Comment[zh_HK]=瀏覽檔案系統
Comment[zh_TW]=瀏覽檔案系統
