pkgbase = mabox-snapshot-git
	pkgdesc = Snapshot a running Mabox Linux system into a bootable live/install ISO
	pkgver = r40.1a4b758
	pkgrel = 1
	url = https://github.com/musqz/mabox-snapshot
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	depends = python
	depends = squashfs-tools
	depends = libisoburn
	depends = grub
	depends = mkinitcpio
	depends = mkinitcpio-nfs-utils
	depends = dosfstools
	depends = rsync
	depends = openssl
	optdepends = calamares: install-from-live-ISO support
	optdepends = imagemagick: GRUB splash / Calamares branding image normalization
	optdepends = yay: AUR-reproducibility check for foreign packages
	optdepends = cryptsetup: --encrypt LUKS2-encrypted preserving-mode ISOs
	provides = mabox-snapshot
	conflicts = mabox-snapshot
	backup = etc/mabox-snapshot/excludes.list
	source = git+https://github.com/musqz/mabox-snapshot.git
	sha256sums = SKIP

pkgname = mabox-snapshot-git
